mixin event-roadmap
    section.event-roadmap.section.black(style='padding: 80px 0')
        .event-roadmap-wrapper
            .parallax-wrapper
                .parallax__background.parallax__background-event_1
                .parallax__background.parallax__background-event_2
                .parallax__background.parallax__background-event_3
                .parallax__background.parallax__background-event_4
                .event-roadmap-parallax-content
                    .event-roadmap-headline
                        span.event-roadmap-headline__top
                            | Это будет мероприятие городского масштаба.
                            br
                            | О вашей акции узнают все жители
                        span.event-roadmap-headline__middle Челябинска и области
                        span.event-roadmap-headline__bottom > 1 500 000 человек
                        .event-roadmap-map.black
                            .event-roadmap-map__element.event-roadmap-map__element_left
                                h3.event-roadmap-map__headline Челябинск
                                p.event-roadmap-map__parahraph Мы запустим рекламную кампанию по всему Челябинску и охватим
                                    | аудиторию размером 700-800 тысяч человек через интернет, соцсети
                                    | и наружную рекламу.
                            .event-roadmap-map__element.event-roadmap-map__element_right
                                h3.event-roadmap-map__headline Область
                                p.event-roadmap-map__parahraph Размещаем рекламу по всей Челябинской области, получаем
                                    | дополнительный охват 500-700 тысяч человек — расширяем зону
                                    | воздействия и еще больше усиливаем ажиотаж.
                            .event-roadmap-map__element.event-roadmap-map__element_center
                                h3.event-roadmap-map__headline Событие
                                p.event-roadmap-map__parahraph Жители Челябинска и жители области, которые приедут в Челябинск
                                    | на общегородскую распродажу, целенаправленно будут тратить
                                    | деньги на покупки в магазинах-участниках акции.