mixin footer
    footer.footer.black
        a(href="tel:+7(351)750-67-29").footer__tel +7 (351) 750-67-29
        a(href="#")
            img(src="img/logotype.png", alt="БИТВА СКИДОК").footer__logo
        span.footer__copyright 2016 © Bitva Skidok. All rights reserved