- var forWhatstartPath = 'img/for-what/'
mixin for-what-item(imgPath, title, text)
    .for-what-item
        .for-what-item__img
            img(src= forWhatstartPath + imgPath, alt=title)
        h4.for-what-item__title #{title}
        p.for-what-item__text #{text}
mixin for-what
    section.section.for-what.black
        .container
            +headline('Зачем вам нужна Битва скидок?', 'underline-yellow__for-what')
            .for-what-wrapper
                +for-what-item('1.png', 'Прибыль и новые клиенты', 'В дни акции вы сможете увеличить выручку в среднем в 2 раза от обычной. Мы приведем вам новую аудиторию из интернета и социальных сетей — вы получите новых покупателей и расширите клиентскую базу.' )
                +for-what-item('2.png', 'Избавление от излишних товарных запасов', 'Распродажа — не только способ привлечь новых клиентов, но и, в том числе,продать неходовые товарные остатки и высвободить оборотные средства.' )
                +for-what-item('3.png', 'Узнаваемость бренда', '«Битва Скидок» — проект, который принесет пользу и компаниям-участникам, и покупателям. Компании заработают на распродаже и повысят известность бренда, а покупатели останутся довольны выгодными покупками. ' )
            +section-cta('Узнайте больше о преимуществах в нашей презентации', 'Скачать презентацию')