mixin head
    head(lang=lang)
        meta(charset="utf-8")
        meta(name="description" content="This site made by g1xus")
        meta(name="author" content="g1xus/Radmir Gazizov")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")