mixin navbar(navbar_items)
    each item in navbar_items
        a.header-nav__link.dark-link(href=item.href) #{item.title}

mixin header
    header.header
        .container
            .header-wrapper
                a.header-logo(href="http://g1xus.ru/salewars", title='Битва Скидок')
                    img(src="img/logotype.png", alt="БИТВА СКИДОК")
                .header-toggler
                    span.header-toggler__element.header-toggler__element_1
                    span.header-toggler__element.header-toggler__element_2
                    span.header-toggler__element.header-toggler__element_3
                    
                nav.header-nav
                    +navbar([
                        {'href' : '#how-we-work', 'title' : 'Как будет проходить'},
                        {'href' : '#who-can', 'title' : 'Кто может учавствовать'},
                        {'href' : '#rates', 'title' : 'Тарифы'},
                        {'href' : '#sponsors', 'title' : 'Организаторы'},
                        {'href' : '#contacts', 'title' : 'Контакты'},
                        {'href' : '#', 'title' : 'Учавствовать'}
                    ])
        .parallax__wrapper#parallax__wrapper
            .parallax__background.parallax__background_1
            .parallax__background.parallax__background_2
            .parallax__background.parallax__background_3
            .header-hero-parallax__content 
                img.header-hero-parallax__suptext(src="img/parallax/sup-text.jpg", alt="Станьте участником")
                img.header-hero-parallax__maintext(src="img/parallax/main-text.png", alt="Масштабной осенней распродажи")
                img.header-hero-parallax__subtext(src="img/parallax/sub-text.png", alt="в Челябинске")
        .container
            .header-information
                p.header-information__text
                    strong «Битва Скидок» — городская распродажа, 
                    br
                    | которая пройдет в розничных магазинах и компаниях Челябинска.
                    | Рекламная кампания проекта охватит более миллиона жителей 
                    | города и области.
                button.button.header-information__button(href="#") Участвовать