mixin head
    head(lang=lang)
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="This site made by g1xus")
        meta(name="author" content="g1xus/Radmir Gazizov")
        link(rel="shortcut icon", href="img/icon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        title БИТВА СКИДОК