mixin how-we-work
    section.section.how-we-work
        .container
            +headline('Как будет проходить?', 'black  ', 'underline-yellow')
            .how-we-work__wrapper
                .how-we-work__item
                    img.how-we-work__img(src = 'img/steps/1.png', alt="Процент")
                    h4.how-we-work__title Сбор заявок
                    p.how-we-work__text Мы объединим от 30 до 50 розничных магазинов и компаний Челябинска в одном значимом городском мероприятии — «Битве Скидок». 
                        br 
                        br
                        | Для участия в акции от вас нужно лишь подготовить интересные скидочные предложения на свои товары и услуги.
                    a.how-we-work__link.dark-link(href='#') Оставить заявку на участие
                .how-we-work__item
                    img.how-we-work__img(src = 'img/steps/2.png', alt="Процент")
                    h4.how-we-work__title Запуск рекламы
                    p.how-we-work__text За месяц до мероприятия мы запустим рекламную кампанию по Челябинску и области с общим охватом — 1 500 000 человек.
                .how-we-work__item
                    img.how-we-work__img(src = 'img/steps/3.png', alt="Процент")
                    h4.how-we-work__title Распродажа
                    p.how-we-work__text 23, 24 и 25 сентября мы проведем «Битву Скидок», о которой к моменту старта будут знать более миллиона жителей города и области. 
                        br 
                        br
                        | В дни акции люди придут в магазины-участники не просто посмотреть, а целенаправленно покупать. 