mixin sponsors
    section.section.sponsors.black
        .container
            +headline('Организаторы проекта', 'underline-yellow underline-yellow_sp')
            img.sponsors__img(src='img/sarafan.jpg')
            p.sponsors__text
                |Мы — маркетинговое агентство Sarafan. С 2013 года приводим людей из интернета в розничные магазины. Мы работаем с розничной торговлей и знаем все, ну или почти все, «подводные камни». Специализируемся на региональных городах-миллионниках. 
                br
                br
                |Провели более 150 распродаж в Екатеринбурге, Казани, Челябинске, Нижнем Новгороде, Перми, Тюмени и Санкт-Петербурге. Рост выручки во время акций у наших клиентов составляет 300-800%. 
                br
                br
                |Мы — фанаты маркетинга. Наша страсть — создавать очереди в розничных магазинах. Техники, которые мы используем, проверены и эффективны. Секрет в том, что мы не боимся работать с «живой аудиторией» и приводим людей из онлайна в оффлайн.

