@font-face {
	font-family: 'GothamProMed';
	src: url('fonts/GothamPro-Medium.eot');
	src: local('fonts/Gotham Pro Medium'), local('fonts/GothamPro-Medium'),
		url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Medium.woff') format('woff'),
		url('fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBold';
	src: url('fonts/GothamPro-Bold.eot');
	src: local('fonts/Gotham Pro Bold'), local('fonts/GothamPro-Bold'),
		url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Bold.woff') format('woff'),
		url('fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProLight';
	src: url('fonts/GothamPro-Light.eot');
	src: local('fonts/Gotham Pro Light'), local('fonts/GothamPro-Light'),
		url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Light.woff') format('woff'),
		url('fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}